@import url(./reset.css);

body{
    background: #e8e8e8 url(../img/ellipse_1_copy_4.png) 50% 150px no-repeat;

}

.content{
    padding-top: 125px;
    padding-bottom: 105px;
    max-width: 841px;
    margin-left: auto;
    margin-right: auto;
}

.top{
    text-align: center;
    color: #273d46;
}

.type{
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 25px;
    margin-top: 40px;
    
}
h1{
    font-family: 'Times New Roman';
    font-size: 36px;
    line-height: 50px;
}

.picture{
    margin-top: 70px;
    box-shadow: 0px 15px 65px rgba(15,16,16,0.15);
    background-color: white;
    padding: 10px;
}

.bottom{
    margin-top: 92px;
    margin-left: 42px;
    margin-right: 60px;
}

.bottom-text{
    opacity: 0.8;
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: 40px;
    color: #273d46;
}
p.bottom-text{
    margin-bottom: 55px;
}

.list li{
    color: #273d46;
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    background: url(../img/check_icon_37.png) left no-repeat;
    padding-left: 35px;
}

.list li:nth-child(1){
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}
.list li:nth-child(2){
    font-style: italic;
    color: #80b7b3;
}
.list li:nth-child(3){
    font-weight: 700;
}
.list li:nth-child(4){
    text-decoration: line-through;
}
.list li:nth-child(4) span{
    opacity: 0.3;
}

.button{
    display: inline-block;
    margin-top: 52px;
    padding: 0 26px;
    height: 44px;
    line-height: 44px;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    background-color: #80b7b3;
    border-radius: 20px;
    font-family: Arial;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
}
.button span{
    padding-left: 25px;
    background: url(../img/shape_2_9.png) right no-repeat;
}

    
    